@page "/sensors"
@using Slim_Groenbeheer.Models

@inject ApiService ApiService

<h3>Sensor List</h3>

@if (sensorData == null)
{
    <p>Bezig met laden...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>sensorNaam</th>
                <th>kas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in sensorData)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.naam</td>
                    <td>@item.kas_id</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<SensorData> sensorData;

    protected override async Task OnInitializedAsync()
    {
        sensorData = await ApiService.GetSensorDataAsync();
    }
}
