<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Slim Groenbeheer</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="metingen">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Metingen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sensors">
                <span class=" bi bi-thermometer-half-nav-menu " aria-hidden="true"></span> Sensor
            </NavLink>
        </div>
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="serial-reader"> *@
        @*         <span class=" bi bi-thermometer-half-nav-menu " aria-hidden="true"></span> Serial Reader *@
        @*     </NavLink> *@
        @* </div> *@
    </nav>
</div>

